@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.lnkGroup{
line-height:  3;
}

.lnkRow{
cursor: pointer;
}
.lnkText{color: #607D8B;}

.lnkIcn{
  float: right;
  color: #607D8B;
}

.mlr30{
  margin: 0 30px
}

#toTop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    position: fixed;
    box-shadow: 0 0 10px #000;
    text-align: center;
    font-size: 50px;
    color: #607D8B;
    background: rgba(208, 208, 208, 0.61);
    z-index: 9999;
    display:none;
}

.homeIcn {
    font-size: 32px;
    line-height: 2;
}


nav {
    color: #fff;
    background-color: #607D8B;
}

.page-footer {
    background-color: #607D8B;
    padding-top: 0;
    box-shadow:  0 0 6px black;
    text-align: center;
}
